<div class="hero-caption">
    <div class="hero-text">

    <% if user_signed_in? %>
<!-- SELECT CHANNEL   -->
      <div id="select-channel" class="page">
        <div id="stream-1">
        <a href="#" id="select-stream-1" class="play"><h2>Channel 1 - Deep Frequencies</h2>
        <h4>Dub forms, Rhythms, Techno</h4></a>
      </div>
        <br/>
        <div id="stream-2">
        <a href="#" id="select-stream-2"><h2>Channel 2 - Light Frequencies</h2>
        <h4>Ambient, Experiemental, Textures</h4></a>
      </div>
     </div>
<!-- /SELECT CHANNEL -->

    <% else %>
<!-- SPLASH SCREEN -->
      <div id="splash" class="page">
        <h1>softsounds</h1>
        <h4>Log In | Listen</h4>
      </div>
<!-- /SPLASH SCREEN -->
   <% end %>

<!-- STREAM DATA   -->
      <div id="stream-data" class="page">
        <%= render "stream_data" %>
      <div id="track-info"><span class="info"></span><span class="favorite favorite-button"></span></div>
      </div>
<!-- /STREAM DATA -->


<!-- LOG IN -->
<div id="log-in" class="page">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
</div>
<!-- LOG IN -->


<!-- SIGN UP -->
<div id="sign-up" class="page">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>

    <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
    </div>
    <% end %>
</div>
<!-- /SIGN UP -->


<!-- FAVORITES -->
<div id="favorites" class="page">
  <div id="favorites-list-box">
    <div id="favorites-list">
    <h2 class="ultralight">Favorites <span style="font-size: 14px" class="sort-header">(sort by Artist)</span></h2>
    <table>
        <% @favorites.each do |song| %>
      <tr>
        <td>
  <p class="favsongs"><%= song.artist %> - <%= song.track %> <span class="float-right">icon | icon</span></p>
      </td>
    </tr>
  <% end %>
  </table>
   </div>
</div>
</div>
<!-- /FAVORITES -->

<!-- FAQ -->
<div id="faq" class="page">
  <h2>FAQ</h2>
</div>
<!-- /FAQ -->

<!-- CONTACT -->
<div id="contact" class="page">
  <h2>Contact</h2>
</div>
<!-- /CONTACT -->

  </div>
</div>
