<div class="hero-caption">
    <div class="hero-text">

      <% if user_signed_in? %>
<!-- SELECT CHANNEL   -->
      <div id="select-channel" class="page">
        <div id="stream-1">
        <a href="#" id="select-stream-1" class="play"><h2>Channel 1 - Light Frequencies</h2>
        <h4>Ambient, Textures, Misc Rhythms</h4></a>
      </div>
        <br/>
        <div id="stream-2">
        <a href="#" id="select-stream-2"><h2>Channel 2 - Deep Frequencies</h2>
        <h4>Dub forms, Beats, Techno</h4></a>
      </div>
     </div>
<!-- /SELECT CHANNEL -->

    <% else %>
<!-- SPLASH SCREEN -->
      <div id="splash" class="page">
        <h1>softsounds</h1>
        <div class=".intro-button">Log In </div>| <div class=".intro-button"><h4>Log In </div>
      </div>
<!-- /SPLASH SCREEN -->
   <% end %>

<!-- STREAM DATA LIGHT  -->
      <div id="stream-data-1" class="page">
        <%= render "stream_data_1" %>
      <div id="track-info"><span class="info"></span><span class="favorite favorite-button"></span></div>
      </div>
<!-- /STREAM DATA LIGHT-->

<!-- STREAM DATA DEEP  -->
      <div id="stream-data-2" class="page">
        <%= render "stream_data_2" %>
      <div id="track-info"><span class="info"></span><span class="favorite favorite-button"></span></div>
      </div>
<!-- /STREAM DATA DEEP-->

<!-- LOG IN -->
<div id="log-in" class="page">
    <h2 style="padding-bottom: 10px">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
    <br/>
    <div id="forgot-password"><%= render "devise/shared/links" %></div>
</div>
<!-- LOG IN -->


<!-- SIGN UP -->
<div id="sign-up" class="page">
    <h2 style="padding-bottom: 10px">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-inputs">
    <%= f.input :username, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>

    <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
    </div>
    <% end %>
</div>
<!-- /SIGN UP -->

<!-- FAVORITES -->
<div id="favorites" class="page">
<% if user_signed_in? %>
    <div id="favorites-list-box">
      <div id="favorites-list">
        <%= render "favorites/favorites_by_latest" %>
        </div>
    </div>
      <% else %>
        <h2>Please Sign In!</h2>
      <% end %>
    </div>
<!-- /FAVORITES -->

<!-- FAQ -->
<div id="faq" class="page">
  <h2>FAQ</h2>
</div>
<!-- /FAQ -->

<!-- CONTACT -->
<div id="contact" class="page">
  <h2>Contact</h2>
</div>
<!-- /CONTACT -->

  </div>
</div>
