<!DOCTYPE html>
<html>
<head>
  <title>Softsounds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>

  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading..</div>
  </div>
  <!-- /PRELOADER -->

  <!-- OVERLAY MENU -->
  <div id="overlay-menu" class="overlay-menu">

    <a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

    <div class="overlay-menu-inner">
      <nav class="overlay-menu-nav">

        <ul id="nav">

          <li class="slidedown">
            <a href="#" id="channel-page">Select Channel</a>
          </li>
          <li class="slidedown">
            <a href="#favorites" id="favorite-page">Favorites</a>
          </li>
          <li class="slidedown">
            <a href="#" id="faq-page">FAQ</a>
          </li>
          <li>
            <a href="#" id="contact-page">Contact</a>
          </li>

        </ul>

      </nav>
    </div>

    <div class="overlay-navigation-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <% if user_signed_in? %>
              <span><%= link_to "LOG OUT", sign_out_path, id: "log-out" %></span>
            <% end %>
            <p class="copyright font-alt m-b-0">© Softsounds</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /OVERLAY MENU -->

  <!-- WRAPPER -->
  <div class="wrapper">

      <!-- NAVIGATION -->
    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top">

      <div class="container">
        <div class="navbar-header">
          <% if user_signed_in? %>
          <span class="navbar-brand">s<span class="light-blue">o</span>ftsounds</span>
          <% end %>
        </div>

        <!-- RIGHT NAVBAR -->
        <ul id="icons-navbar" class="nav navbar-nav navbar-right">
          <li>
            <a href="#" id="toggle-menu" class="show-overlay" title="Menu">
              <span id="menubox"></span>

            </a>
          </li>
        </ul>
        <!-- /RIGHT NAVBAR -->

        <ul class="extra-navbar nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li>
          <div class="fav-menu"><a href="#favorites"><i class="nav-heart"></i><span id="userfavs"><%= "#{current_user.favorite_songs.count}" %></span></a></div>
          </li>
          <% else %>
          <li>
              <a href="#" id="log-in-page">Log In</a>
          </li>
          <li>
            <a href="#" id="sign-up-page">Sign Up</a>
            </a>
          </li>
          <% end %>
        </ul>
      </div>

    </nav>
    <!-- /NAVIGATION -->

    <!-- HERO -->
    <section id="hero" class="module-hero module-full-height" data-background="softsounds.jpg">

      <div id="particles-js">
        </div>

    <%= yield %>

    </section>
    <!-- /HERO -->

    <section class="footer">

        <section id="footer-player">

          <button id="speaker"><a href="javascript:;"></a></button><button id="speaker-off"><a href="javascript:;"></a></button>
          <button id="play-back"><a href="javascript:;"></a></button>
          <button id="play"></button><button id="pause"></button>
          <button id="play-forward"><a href="javascript:;"></a></button>
          <button id="share"><a href="javascript:;"></a></button>

          <div id="jplayer" class="jp-jplayer"></div>

        </section>

    </section>

</div>
<!-- /WRAPPER -->
</body>
</html>
